.circleOfFifths {
  background: #3A5765;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  color: #D29E88;

  header {
    text-align: center;

    h1 {
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 2px;
      margin: 60px auto;
      
      border: 1px solid #D29E88;
      display: inline-block;

      &::before {
        content: ':';
        border-left: 1px solid #D29E88;
        margin-left: 2px;
        margin-right: 4px;
      }

      &::after {
        content: ':';
        border-right: 1px solid #D29E88;
        margin-right: 2px;
        margin-left: 4px;
      }
    }
  }

  .main {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
  }

  .circle {
    height: 100%;
    width: auto;
  }
}
