$width: 150px;
$height: 60px;
$number-of-white-keys: 11;
$key-width: $width / $number-of-white-keys;
$dot-size: $key-width / 2.5;

.chord {
  display: flex;
  width: $width;
  height: $height;
  border: 1px solid  black;
}

.chordWithName {
  header {
    text-align: center;
  }
}

.key {
  width: $key-width;
  
  &.white {
    background: white;
    border: 1px solid black;
    
    &.selected {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      &::before {
        display: block;
        width: $dot-size; height: $dot-size;
        border-radius: 50%;
        background: red;
        content: ' ';
        margin-bottom: 2px;
      }
    }
  }
  &.black {
    height: 55%;
    width: 0;
    position: relative;
    left: calc(0px - $key-width*0.3);
    
    &::before  {
      display: block;
      position: relative;
      width: $key-width * 0.6;
      height: 100%;
      background: black;
      content: ' ';
    }

    &.selected {
      &::after {
        display: block;
        width: $dot-size; height: $dot-size;
        border-radius: 50%;
        background: red;
        content: ' ';
        margin-bottom: 2px;
        position: relative;
        top: calc(-1px - $dot-size);
        left: 1px; // hacky
      }
    }
  }
}

.missingChord {
  width: $width;
  height: $height;
  border: 1px solid  black;
  background: red;
  text-align: center;
}